In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("demo.xlsx")
df = pd.DataFrame(data)
print(df)

   id  enrollment_id           name     time
0   0              1  SANKET HALANI    7m 9s
1   1              1  SANKET HALANI    7m 9s
2   2              1  SANKET HALANI    2m 9s
3   3              2    JAYKIN SONI  21m 23s
4   4              2    JAYKIN SONI    2m 9s
5   5              3  PULKIT SHARMA  40m 90s

In [3]:
new_col = df["time"].str.split("m ")
for i in range(len(new_col)):
    new_col[i] = int(new_col[i][:-1].pop(-1))
new_df = pd.DataFrame({"merged_time":new_col})
print(new_df)

  merged_time
0           7
1           7
2           2
3          21
4           2
5          40

In [4]:
df = pd.concat([df,new_df],axis="columns")
df.drop(['time'],axis=1,inplace=True)
print(df)

   id  enrollment_id           name merged_time
0   0              1  SANKET HALANI           7
1   1              1  SANKET HALANI           7
2   2              1  SANKET HALANI           2
3   3              2    JAYKIN SONI          21
4   4              2    JAYKIN SONI           2
5   5              3  PULKIT SHARMA          40

In [5]:
aggregation_functions = {'enrollment_id': 'first', 'name': 'first','merged_time': 'sum'}
final_report = df.groupby(df["enrollment_id"]).aggregate(aggregation_functions)
print(final_report)

               enrollment_id           name  merged_time
enrollment_id
1                          1  SANKET HALANI           16
2                          2    JAYKIN SONI           23
3                          3  PULKIT SHARMA           40

In [6]:
check_list = [NaN]
for i in final_report["merged_time"]:
    if(i > 20):
        check_list.append("PRESENT")
    else:
        check_list.append("ABSENT")
print(check_list)
check_list_merger = pd.DataFrame({"ATTENDANCE":check_list})
print(check_list_merger)

['ABSENT', 'PRESENT', 'PRESENT']
  ATTENDANCE
0     ABSENT
1    PRESENT
2    PRESENT

In [7]:
print(final_report)
# final_report = pd.concat([final_report,check_list_merger],axis="columns")
# print(final_report)

               enrollment_id           name  merged_time
enrollment_id
1                          1  SANKET HALANI           16
2                          2    JAYKIN SONI           23
3                          3  PULKIT SHARMA           40